{% extends 'base.html' %}
{% load static %}

{% block title %}
  Sambhav Dave - My Blogs
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blogapp/post.css' %}" />
  <link rel="stylesheet" href="{% static 'blogapp/index.css' %}" />
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'blogapp/images/my-pic.jpg' %}" alt="sambhav-dave-thumbnail" />
      &nbsp;
      <h2>Welcome !</h2> 
    </header>
    <p>Hi, I am Sambhav and I love to write about my learnings in this growing technology industry and some useful tips from random topics for the audience. </p>
  </section>

  <section id="latest-posts">
    <h3>My Latest Posts</h3>
    <ul>
      {% for post in posts %}
        {% include 'blogapp/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <div>
      <h2>About Me</h2>
      <p>I currently am a post-graduate student at Swansea University, Wales, United Kingdom. </p>
      <p>
      Prior to this, I worked as a Test Automation Consultant at Genpact Digital, Bangalore, India. 
      I have in total of 3 years of IT experience involving backend development and test automation. 
      Currently, I am exploring Django, Machine Learning and Big Data Engineering.
      </p>
      <p>To know more about me, please do follow me on portals given below: </p> 
      <link>
      <h3> LinkedIn </h3>
      <h3> Instagram </h3>
      </link>
    </div>
  </section>

  
{% endblock %}
