{% extends 'base.html' %}
{% load static %}

{% block title %}
Sambhav Dave - My Blogs
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blogapp/index.css' %}" />
{% endblock %}

{% block content %}
<section id="welcome" class="py-5">
  <header class="text-center">
    <img src="{% static 'blogapp/images/my-pic.jpg' %}" alt="sambhav-dave-thumbnail" class="img-fluid" />
    <h2>Welcome !</h2>
    <p>
      Hi, I am Sambhav. I love to write about my learnings in this growing technology
      industry and some useful tips from random topics for my audience.
    </p>
  </header>
</section>

<section id="latest-posts" class="py-5 bg-light">
  <div class="container">
    <h1 class="display-4 text-center">My Latest Posts</h1>
    <div class="row mt-4">
      {% for post in posts %}
      <div class="col-md-3 mb-4">
        {% include 'blogapp/includes/post.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="about" class="py-5">
  <div class="container">
    <h2 class="display-5">About Me</h2>
    <hr>
    <h3 class="h5">I am working remotely as a Senior Automation Test Engineer with a startup making a world class
      product for clinical transparency solutions for life-sciences and pharma clients across the globe.</h3>
    <p class="lead">To know more about me, please do follow me on portals given below: </p>
    <div>
      <h3><a href="https://www.linkedin.com/in/sambhav-dave" target="_blank">LinkedIn</a></h3>
      <h3><a href="https://www.instagram.com/sambhav.dave" target="_blank">Instagram</a></h3>
    </div>
  </div>
</section>
{% endblock %}