{% extends 'base.html' %}
{% load static %}

{% block title %}
Single Post Detail Page
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blogapp/post-detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blogapp/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
  <section id="summary">
    <h1 class="display-4">{{ post.title }}</h1>
    <h2 class="h5 text-muted">{{ post.excerpt }}</h2>
    <div class="mb-3">
      {% for tag in post_tags %}
      <span class="class="badge badge-primary">#{{ tag.caption }}</span>
      {% endfor %}
    </div>
    <article>
      <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
      <div>
        Created on <time>{{ post.date | date:'D d M Y' }}</time>
      </div>
    </article>
  </section>
  
  <section class="mt-4">
    {{ post.content|safe }}
  </section>
  
  <section class="mt-4">
    <h3 class="h6"><strong>Want to share?</strong></h3>
  </section>
</div>
{% endblock %}
