{% extends 'base.html' %}
{% load static %}

{% block title %}
  Single Post Detail Page
{% endblock  %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blogapp/post-detail.css' %}" />
{% endblock %}

{% block content %}
  <section id="summary">
    <h2>{{ post.title }}</h3>
      <article>
        <img src="{% static 'blogapp/images'|add:post.image_name %}" alt={{ post.image_name }} />
        <address>By {{ post.author }}</address>
        <div>
          Created on <time>{{ post.date|date:'D d M Y' }}</time>
        </div>
      </article>
  </section>
  <main>
    <p>{{ post.content|linebreaks }}</p>
  </main>
{% endblock  %}